/* General utility classes */
.mt-30{
    margin-top: 30px;
}
/* Styles for html */
    html{
     background: hsl(226, 78%, 13%);
     font-size: 18px;
    }
    /* styles for title */
    #title{
    text-align: center;
    font-family: Poppins;
    text-transform: uppercase;
    color: aliceblue;
    }


    /* Styles for form */
    #survey-form{
    color: aqua;
    padding: 10px;
    margin: 0 40px;
     border:2px solid #FFFFFF;
     border-radius: 5px;
     font-family: Open Sans;
     padding: 5%; 
    }
    
    /* styles for description */
    #description{
    text-align: center;
    color: aliceblue;
    font-size: 1.3em;
    }

    /* styles for inputs */
    input{
        background-color:hsl(226, 78%, 13%);
        border: none;
        border-bottom: 2px solid aliceblue;
        color: #FFFFFF;
        font-size: 1em;
        letter-spacing: 2px;
    }
    input:focus{
        border: none;
        border-bottom: 2px solid aliceblue;
    }
    input:focus{
        outline:none;
        border-bottom: 2px solid aqua;
    }
    .input-labels{
        border-bottom: 2px solid aliceblue;
        margin-right: 1.5em;
    }
    ::placeholder{
        color: hsl(226, 78%, 13%);
    }
    
    .mb-20{
        margin-bottom: 20px;
    }

    .equal-width-input{
        width: 10em;
    }

    /* styles for radio,checkboxes */
    select {
        background-color: white;
        color: hsl(226, 78%, 13%);
        width: 30%;
        font-size: 0.9em;
    }


    /* styles for textarea and button */
     
     textarea:focus, input:focus{
         outline: none;
     }
     
     #submit{
         background-color: hsl(226, 78%, 13%);
         color:aqua;
         border: 2px solid aqua;
         padding: 10px;
         border-radius: 5px;
         transition: background-color;
         transition: color;
         font-size: 1.3em;
         transition-duration: 0.5s;
     }
    #submit:hover{
        color:hsl(226, 78%, 13%);
        background-color: aqua;
    }

    @media only screen and (max-width: 600px) {
        select{
            width: 80%;
        }
        html{
            font-size: 15px;
        }
    }